# Auto detect text files and perform LF normalization
* text=auto
*.o -text
*.so -text
*.exe -text
*.jpg -text
*.JPG -text
*.jpeg -text
*.JPEG -text
*.png -text
*.PNG -text
*.pdf -text
*.PDF -text
*.tif -text
*.TIF -text
*.tiff -text
*.TIFF -text
*.zip -text
*.ZIP -text

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
